/* Chrome, Safari, Edge, Opera */
#counterInput::-webkit-outer-spin-button,
#counterInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#counterInput[type=number] {
  -moz-appearance: textfield;
}

#counterInput[type=number]{
    text-align:center;
    font-size: 20px;
}